config/dionysus2.json filter=git-crypt diff=git-crypt
config/restic-gcs.json filter=git-crypt diff=git-crypt
config/secret.nix filter=git-crypt diff=git-crypt
config/ssh/**/id_ed25519 filter=git-crypt diff=git-crypt
config/syncthing/** filter=git-crypt diff=git-crypt
