[submodule "nano/syntax"]
	path = nano/syntax
	url = git@github.com:scopatz/nanorc.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "fish/omf"]
	path = fish/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
