hosts/artemis.nix filter=git-crypt diff=git-crypt
hosts/demeter.nix filter=git-crypt diff=git-crypt
misc/nvim/google-calendar.vim filter=git-crypt diff=git-crypt
misc/ssh/id_ed25519 filter=git-crypt diff=git-crypt

