snippet vim-plugin
  { fetchFromGitHub, vimUtils }:

  vimUtils.buildVimPlugin rec {
    pname   = "${1:repo}";
    version = "${2:git_branch}";
    src     = fetchFromGitHub {
      owner  = "${3:author}";
      repo   = "$1";
      rev    = version;
      sha256 = "0000000000000000000000000000000000000000000000000000";
    };
  }

