@-moz-document domain(github.com) {
  .blob-code, .blob-code-inner {
    font-family: "PragmataPro Mono Liga" !important;
  }
}

@-moz-document domain(bitbucket.org) {
  .source, .page, .view-line, pre {
    font-family: "PragmataPro Mono Liga" !important;
  }
}

code {
  font-family: "PragmataPro Mono Liga" !important;
}
