@-moz-document domain(github.com) {
  .blob-code, .blob-code-inner, .pl-mi {
    font-family: "PragmataPro Mono Liga" !important;
    font-weight: normal !important;
    font-style: normal !important;
  }
}

@-moz-document domain(leetcode.com) {
  .CodeMirror-lines {
    font-family: "PragmataPro Mono Liga" !important;
    font-weight: normal !important;
    font-style: normal !important;
  }
}

code {
  font-family: "PragmataPro Mono Liga" !important;
  font-weight: normal !important;
  font-style: normal !important;
}

