@-moz-document domain(github.com) {
  .blob-code, .blob-code-inner, .pl-mi, code, pre, .CodeMirror,
  .CodeMirror *, .highlight, .highlight *, .markdown-body pre,
  .markdown-body code, .commit-message, .text-mono, .blob-num {
    font-family: "Iosevka" !important;
    font-weight: normal !important;
    font-style: normal !important;
  }
}

code {
  font-family: "Iosevka" !important;
  font-weight: normal !important;
  font-style: normal !important;
}
