@-moz-document domain(github.com) {
  .blob-code, .blob-code-inner, .pl-mi {
    font-family: "Iosevka" !important;
    font-weight: normal !important;
    font-style: normal !important;
  }
}

code {
  font-family: "Iosevka" !important;
  font-weight: normal !important;
  font-style: normal !important;
}
